body{
  margin:0px;
  padding: 0px;
  
  background-color: #141F2D;
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  outline: none;
  border: none;
}
input{
  outline: none;
  border: none;
}

.logo img{
  width: 150px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: fixed; */
  left: 0;
  top: 0;
  width:100%;
  z-index: 1;
  transition: 0.6s ease-in-out;
}

nav ul{
  display: flex;
  gap: 1rem;
}

.active{
  background-color: #FEBE42;
  color:#ffffff;
  box-shadow: 5px 10px 30px rgba(255, 200, 2, 0.336);
  transition: all ease 0.2s;
}

nav ul li a{
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  height:40px;
  line-height: 24px;
  margin: 3px;
  padding: 0px 22px;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  color:#ffffff;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}

nav ul li a:hover{
  background-color: #FEBE42;
  color:#ffffff;
  border-radius: 15px;
  box-shadow: 5px 10px 30px rgba(255, 200, 2, 0.336);
  transition: all ease 0.2s;
}

nav .menu-btn,
.menu-icon{
  display:none;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:100vw;
  height: calc(100vh - 9.7rem);

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./images/background_1.png');
  background-position: bottom;

  /* padding-top: 10rem; */
  padding-bottom: 1.1rem;
}

.main{
  font-family: 'Dela Gothic One';
}

.details{
  color: #ffffff;
}

.main h1{
  font-size: 40px;
  margin:0px;
  letter-spacing: 2px;
  color:#ffffff;
}

.main .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-wrapper {
  position: relative;
  max-width: 500px;
}

.image-item {
  display: block;
  width: 100%;
}

.image-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
}

.cv-btn{
  font-size: 18px;

  display: flex;
  width: 310px;
  height: 52px;
  background-color: #FEBE42;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  color:#ffffff;
}

.cv-text {
  color: #FFFFFF;
  font-size: 20px;
}

#scroll-down {
    display: block;
    position: relative;
    padding-top: 5px;
}

.arrow-down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 8px;
}
.arrow-down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

#scroll-down::before {
    -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */
    
    -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */
    
    -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */
    
    animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */
    
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -1px;
    width: 5.6px;
    height: 15px;
    background: #ffffff;
    content: ' ';
}
@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}

@-moz-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}

@-o-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}

@keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}


.cv-btn:hover{
  background-color: #FEBE42;
  transition: all ease 0.5s;
  color: #ffffff;
}

.scroll-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ability{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(http://localhost:3000/static/media/ability_background.6aefdec2e1ab32794255.png);
  background-color: #FFFFFF;
  background-position: bottom;
}

.ability_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.calendar {
  background: url('./images/calendar.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 500px;
}

.task {
  background: url('./images/task.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 500px;
}

.data {
  background: url('./images/data.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 1030px;
}

.card {
  position: relative;
  overflow: hidden;
  float: left;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.424);
  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FEBE42;
    top: calc(100% - 80px);
    left: 0;
    opacity: 1;
    transition: all 0.75s ease-in-out;
    
    display: flex;
    align-items: top;
    justify-content: center;
    
    &-inner {
      position: relative;
      display: block;
      height: 80px;

      display: flex;
      flex-flow: column nowrap;
      text-align: center;
      justify-content: center;
      
      transition: all 0.75s ease-in-out;
    }
    &:after {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 30px;
      height: 30px;
      border-color: #fff;
      border-style: solid;
      border-width: 2px 0 0 2px;
      content: "";
    }
  }
  &__title {
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
  }
  &__description {
    color: #eee;
  }
  &:after {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
  }
  &.a100,
  &:hover {
    cursor: pointer;
    .card__content {
      top: 0;
      background: #FEBE42;
      transition: all 1s ease-in-out;
      &-inner{
        height: 100%;
        align-items: center;
        justify-content: center;
        transition: all 1s ease-in-out;
      }
    }
  } // demo
  &.a50{
    .card__content {
       top: 50%;
      &-inner{
        height: 50%;}
    }
    &:hover {
      .card__content {
         top: 0;
        &-inner{
          height: 100%;}
      }      
    }
  }
  &.a100{
     &:hover {
      .card__content {
         top: calc(100% - 80px);
        &-inner{
          height: 80px;}
      }
    }
  }
}